* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --MainBackground: #0f0f0f;
  --white: #ffffff;
  --primary: #333a4b;
  --secondary: #8a8d97;
  --third: #f1f2f3;
}

/* MAIN SECTION */
.main {
  height: 100vh;
  background-color: var(--MainBackground);

  display: grid;

  grid-template:
    ". container ." /
    auto 600px auto;
}

/* CONTAINER */
.container {
  grid-area: container;
  background-color: var(--white);
}
