* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --MainBackground: #0f0f0f;
  --white: #ffffff;
  --primary: #333a4b;
  --secondary: #8a8d97;
  --third: #f1f2f3;
}

/* MAIN SECTION */
.main {
  height: 100vh;
  background-color: var(--MainBackground);

  display: grid;

  grid-template:
    ". container ." /
    auto 500px auto;
}

/* CONTAINER */
.container {
  grid-area: container;
  background-color: var(--white);
  padding: 20px;
}

/* CARD */
.card {
  background-color: var(--primary);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 #00000090;
}

/* CARD TOP ICONS */
.top-icons {
  display: grid;

  grid-template: "icon icon icon" / 1fr auto;
}
.icon {
  height: 50px;
  width: 50px;
  padding: 10px;
}
.icon img {
  width: 100%;
}

/*  CARD MAIN CONTENT */

.main-card-section {
  text-align: center;
  color: var(--secondary);
  margin: 15px 0;
}
.main-card-section img {
  /* vertical-align: middle; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}
.main-card-section h1 {
  color: var(--white);
  font-size: 2.5rem;
  padding: 10px;
}

.main-card-section .software-engineer {
  padding: 10px 0;
  font-size: 1rem;
  color: var(--secondary);
}
.main-card-section p {
  padding: 10px 0;
  font-size: 1.2rem;
  color: var(--secondary);
}
.main-card-section .hire-me {
  color: var(--white);
  display: inline-block;
  width: 220px;

  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(193, 172, 90, 1) 49%,
    rgba(252, 176, 69, 1) 100%
  );
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 5px #00000050;
}

/* CARD LOWER SECTION */
.bottom-card-section {
  display: grid;

  grid-template: "bottom-icons bottom-icons bottom-icons" / 1fr 1fr 1fr;

  justify-items: center;
}

.bottom-icons {
  padding: 10px;
  text-align: center;
}
.bottom-icons img {
  height: 50px;
}

.bottom-card-section h2,
p {
  color: var(--white);
  margin-top: 10px;
}

/* ANIMATIONS */

.icon:hover {
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  transition: 1s;
}

.main-card-section img:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px 0 black;
}
.main-card-section .hire-me:hover {
  cursor: pointer;
  transition: 1s;
}

.bottom-icons img:hover {
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  transition: 1s;
}

.card:hover {
  animation: pop 0.5s linear;
}
@keyframes pop {
  50% {
    transform: scale(1.01);
  }
}
